<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="Css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets Todolist</title>
  </head>
  <body>
    <nav>
      <div class="mainNav">
        <div class="header-nav">
          <a href="/"
            ><img
              class="imageLogo"
              src="images/shawn.gif"
              alt="logo from google"
          /></a>
          <button class="toggle-btn">
            <img src="images/fabars.png" alt="" class="toggle-btn-img"/>
          </button>
        </div>
        <ul class="linksNav">
          <li><a href="/">Home</a></li>
          <li><a href="/submit">Submit</a></li>
          <button class="links-btn">
            <a href="/register" class="regiClass">Register</a><a href="/login">Login</a>
          </button>
        </ul>
      </div>
    </nav>